a.navbar-item.special {
    color: white !important;
    background: #008ef4 !important;
}

.navbar-menu {
    background: #008ef4 !important;
}

a.special.navbar-item:hover, .navbar-item.current {
    color: #008ef4 !important;
    background: white !important;
}

.hidden {
    display: none;    
}

.tag.is-memorai-blue {
    color: white;
    background: #008ef4;
}